# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# cmake
cppcmake.yml

# vscode
.vs

# lsl app stuff
bin-Windows7-32
lib-Windows7-32

# testing stuff
lsl_app/ReceiveDataInChunks.py
lsl_app/dummy_data
data.txt
requestedData.txt
nback_only.py

# files that don't need to be passed back and forth
watch/hci_lab_build/
results/
test.cpp

# lab computer has python3.11 and my laptop has python3
# keeping them saved locally for convenience
processes.ps1